<a href="https://colab.research.google.com/github/anyoneabd2044-art/machine-learning-from-basics/blob/main/python_2_IF_ELSE%2CINDENTATION%2CLOOP%2CGUESS_GAME%2CBREAK_CONT_PASS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IF else statement

In [ ]:
#  correct email - campusx@gmail.com
# password - 1234
email = input("Apna email btao")
password = input("Apna password btao")
if email=="campusx@gmail.com" and password == "1234" :
  print("WELCOME")
else:
  print("INCORRECT CREDENTIALS")

Apna email btaocampusx@gmail.com
Apna password btao1234
WELCOME

# if email is correct and password is wrong give another chance

In [ ]:
# if the email is correct but password is wrong give user an another chance to input correct password
email=input("Apna Email Batao")
password=input("Apna Password Batao")
if email=="campusx@gmail.com" and password=="1234":
  print("WELCOME")
elif email=="campusx@gmail.com" and password!="1234":
  print("Password Incorrect")
  password=input("Password phir se bol")
  if password =="1234":
    print("finally correct")
  else:
    print("still incorrect")
else:
  print("Incorrect Credential")

Apna Email Bataocampusx@gmail.com
Apna Password Batao1221
Password Incorrect
Password phir se bol1222221
still incorrect

# email should contain (@) in it

In [ ]:
email=input("Apna Email Batao")
if '@' in email:
            password=input("Apna Password Batao")
            if email=="campusx@gmail.com" and password=="1234":
              print("WELCOME")
            elif email=="campusx@gmail.com" and password!="1234":
              print("Password Incorrect")
              password=input("Password phir se bol")
              if password =="1234":
                print("finally correct")
              else:
                print("still incorrect")
            else:
              print("Incorrect Credential")
else :
  print("email galat hai phir se bhro")

Apna Email Bataocampusx@gmail.com
Apna Password Batao12334
Password Incorrect
Password phir se bol1234
finally correct

# Indentation

In [ ]:
if ( name =="xyz"){
    something;
    something;
}else{
    something else;
    something else;
}

In [ ]:
# if there is mis space present in python code then there will be indentation error
# /dont use space
# use TAB and backspace for correct indentation
Name ="xyz"
if Name =="xyz":
  print('line 1')
      #  print('line 3')
  print("line 2")
  if 5 == 5:
      print('line 5')
else:
  print('line 2')

line 1
line 2
line 5

# Loops

In [ ]:
print("use of loops")
print("Loops are used in apps like Flipkart, Zomat0, and Instagram.")
print("They create one container for a product or profile , and then use loop to repeat it for all other product or profile  ")
print("loops help app like flipkart and zomato and insta repeat one product or profile design for many items automatically")
print("more apps are : olx, amazon, newsfeed appilication")

use of loops
Loops are used in apps like Flipkart, Zomat0, and Instagram.
They create one container for a product or profile , and then use loop to repeat it for all other product or profile
loops help app like flipkart and zomato and insta repeat one product or profile design for many items automatically
more apps are : olx, amazon, newsfeed appilication

In [ ]:
print("Types of Loops")
print("While loop","For Loop",sep='||')

Types of Loops
While loop||For Loop

In [ ]:
while(condition){
    code
}

In [ ]:
while condition :
  code

# tables with help of while loop

In [ ]:
number= int(input("enter the number"))
i = 1
while i <11:
  print( number, "*", i , "=",number*i)
  i+=1

enter the number98
98 * 1 = 98
98 * 2 = 196
98 * 3 = 294
98 * 4 = 392
98 * 5 = 490
98 * 6 = 588
98 * 7 = 686
98 * 8 = 784
98 * 9 = 882
98 * 10 = 980

# Guessing Game

In [ ]:
import random

In [ ]:
random.randint(1,100)

42

In [ ]:
from typing import Counter
jackpot = random.randint(1,100)
guess = int(input("Guess the number"))
Counter=1
while guess != jackpot:
    if guess < jackpot:
      print('GUESS HIGHER')
    else:
      print('GUESS LOWER')
    guess = int(input("Guess the number"))
    Counter+=1
print('CORRECT GUESS')
print("YOU TOOK", Counter,"ATTEMPTS")

Guess the number90
GUESS LOWER
Guess the number65
GUESS LOWER
Guess the number45
GUESS HIGHER
Guess the number55
GUESS HIGHER
Guess the number59
GUESS HIGHER
Guess the number60
GUESS HIGHER
Guess the number63
CORRECT GUESS
YOU TOOK 7 ATTEMPTS

# For Loop

In [ ]:
for(i=0;i<10.i++){
    code
}

In [ ]:
# Range function
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#if there is only one number in range then it will be end number
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
#  range is followed as ("start","stop","step")
# step means GAP
list(range(1,11,3))

[1, 4, 7, 10]

In [ ]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Sequence = (order)
# String
"kolkata"

'kolkata'

In [ ]:
# tuples are sequences
("kolkata","delhi","mumbai")

('kolkata', 'delhi', 'mumbai')

In [ ]:
# list are sequences
["kolkata","delhi","mumbai"]

['kolkata', 'delhi', 'mumbai']

In [ ]:
# sets are sequence
 {"kolkata","delhi","mumbai"}

{'delhi', 'kolkata', 'mumbai'}

In [ ]:
 for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
 for i in "kolkata":
  print(i)

k
o
l
k
a
t
a

In [ ]:
 for i in [1,2,3,4]:
  print(i)

1
2
3
4

In [ ]:
for i in (1,2,3,4):
  print(i)

1
2
3
4

In [ ]:
for i in {1,2,3,4}:
  print(i)

1
2
3
4

In [ ]:
# WHILE LOOPS is used when we don't know the number of times we have to loops; beforehand.
#  if we know the number of times we have to loop then use FOR LOOP.

# Nested loops

In [ ]:
rows=int(input("enter the number of rows"))
for i in range(1,rows+1):
  for j in range(1,i+1):
    print("*",end=" ")
  print("")

enter the number of rows4
*
* *
* * *
* * * *

# same code execution

In [ ]:
rows = int(input("Enter the number of rows"))
for i in range(1,rows+1):
  print("* "*i)

Enter the number of rows5
*
* *
* * *
* * * *
* * * * *

# break-continue-and-pass

In [ ]:
for i in range(1,11):
  if i==5:
     break
  print(i)

1
2
3
4

In [ ]:
# break is used in LINEAR SEARCHING

In [ ]:
# continue is used in skip something
# like in e-commerce website we have to display the product on the frontpage which are in stock
# so by doing loop using ("if") statement to check whether the item is in stock or not
# if it is in stock then display if non in stock then continue

In [ ]:
for i in range(1,11):
  if i == 6:
    continue
  print(i)

1
2
3
4
5
7
8
9
10

In [ ]:
for i in range(1,11):
  if i == 4:
    continue
  print(i)
  print("hello")

1
hello
2
hello
3
hello
5
hello
6
hello
7
hello
8
hello
9
hello
10
hello

In [ ]:
# pass is used when you are unsure about the code
# so by using pass the code will not show error

In [ ]:
for i in range(1,11):
    pass